/* Global Rules */

* {
  box-sizing: border-box;
}

html, body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/* Class Definitions */

/* ID Definitions */

#chipher {
  /* border: 3px solid red; */
  display: flex;
  width: 500px;
}

#container {
  align-items: center;
  background-attachment: fixed;
  background-image: url('background-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: auto;
  position: fixed;
  width: 100vw;
}

#input-text {
  background-color: white;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  font-size: 1em;
  height: 30px;
  width: 100%;
}

#input-text:active, #input-text:focus {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
  outline: none;
}

#result {
  align-items: flex-start;
  /* border: 1px solid red; */
  color: white;
  display: flex;
  font-size: 4em;
  height: 74px;
  justify-content: center;
  margin: 0;
  text-align: center;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  width: 100vw;
}

#submit-btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 1em;
  height: 30px;
  margin-left: 5px;
  transition: box-shadow 0.05s ease, transform 0.05s ease;
  width: 100px;
}

#submit-btn:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  outline: none;
  transform: scale(0.99);
}

/* Media Queries */

@media screen and (max-width: 530px) {
  #chipher {
    align-items: center;
    flex-direction: column;
    width: 70vw;
  }

  #container {
    background-size: cover;
  }

  #submit-btn {
    margin-left: 0;
    margin-top: 5px;
    width: 70vw;
  }

}
